<h1 class="mainTitle">You should visit Kholinar!</h1>

<div class="cityText">
	<ul>
		<li>Kholinar is the capital of Alethkar. One of the largest and finest empires in Roshar.</li>
		<li>Kholinar is the seat of power for the Kholin family, who recently reunited the warring Alethi kingdoms. King Elhokar, is the current ruling monarch.</li>
		<li>Kholinar practices the Vorin religion and is home to ten temples. One for each of their demi-gods, the Heralds.</li>
		<li>Kholinar is a very militaristic society and has a very active dueling scene. The Dueling Arena is found near the very heard of the city.</li>
		<li>Kholinar has long been a militaristic society, the Sunmaker Park, is an open garden celebrating The Sunmaker, a warlord that first united the Alethi kingdom.</li>
	</ul>
</div>

<div class="cityPictures">
	<ul>
		<li><img src="/images/kholinar_01.jpg" width="800" /></li>
		<li><span>This is a map of Kholinar which details all the sights</span></li>
		</br></br>
		<li><img src="/images/kholinar_02.jpg" width="800" /></li>
		<li><span>A landscape of the city accentuates the impressive wind blades</span></li>
		</br></br>
		<li><img src="/images/kholinar_03.jpg" width="800" /></li>
		<li><span>A view from the city's great walls at the wonderfully stratified hills</span></li>
	</ul>
</div>