<h1 class="minTitle">This is where you can see more about the cities!</h1>

<div class="cityText">
</div>

<div class="cityPictures">
	<ul>
		<li><img src="/images/kholinar_01.jpg" width="800" /></li>
		<li><span>This is a map of Kholinar which details all the sights</span></li>
		<li><img src="/images/kholinar_02.jpg" width="800" /></li>
		<li><span>A landscape of the city accentuates the impressive wind blades</span></li>
		<li><img src="/images/kholinar_03.jpg" width="800" /></li>
		<li><span>A view from the city's great walls at the wonderfully stratified hills</span></li>
	</ul>
</div>