
<h1>This is my home page!</h1>
<h3 href="http://www.html5marketplace.com/slideshow/">I learned about slidesshows from http://www.html5marketplace.com/slideshow/</h3>
<div id="slideshow">
	<ul>
		<li><img src="/images/kholinar_01.jpg" width="800" height="800" /></li>
		<li><img src="/images/kholinar_02.jpg" width="800" height="800" /></li>
		<li><img src="/images/kholinar_03.jpg" width="800" height="800" /></li>
	</ul>
	<span class="button prevButton"></span>
	<span class="button nextButton"></span>
</div>


