<fieldset class="tickets">
	<legend>Departure Tickets</legend>
	<ul = class="departResult">
		 {{#each dataList}}
			<li>{{this.name}}: {{this.value}}
		{{/each}}
		<li><img id="barcode" src="/images/barcode.jpg" /></li>
	</ul>
</fieldset>


<ul>

</ul>
