<h1 class="mainTitle">Book your tickets to Roshar today!</h1>

<div class="ticketForm">
<legend>Enter your ticket information here!</legend>
	<div class="input">
		<label>Departing from:</label>
			<input type="text" name="city_input" id="city_input" size="30" maxlength="30">
		<label>Departure date:</label>
			<input type="date" name="departue" id="departure" value="2019-11-24">
		<label>Return date:</label>
			<input type="date" name="return" id="return" value="2020-01-01">
	</div>
</div>



