<h1 class="mainTitle">Book your tickets to Kholinar today!</h1>

<form action="http://flip3.engr.oregonstate.edu:3469/ticket_print" method="get">
<fieldset class="ticketForm">
<legend>Enter your ticket information here!</legend>
	<div class="ticketInput">
		<label>Departing from:</label>
			<input type="text" name="city_input" id="city_input" size="30" maxlength="30">
		</br>
		<label>Destination:**</label>
			<input list="destination" name="destination" id="destintation">
				<datalist id="destination">
					<option value="Kholinar">
				</datalist>
		</br>
		<label>Departure date:</label>
			<input type="datetime-local" name="departue" id="departure" value="2019-11-24T12:00" size="20">
		</br>
		<label>Return date:</label>
			<input type="datetime-local" name="return" id="return" value="2020-01-01T12:00" size="20">
		</br>
		<label>Number of travelers:</label>
			<input type="number" name="Number_of_Travelers:" id="Number_of_Travelers" value="1" min="1">
		</br>
		<div>**Due to the current Desolation occuring on the planet, we are only offerening tickets to Kholinar.</div>
		</br> </br>
		<input type="submit" value ="Submit" id="ticketSubmit">
	</div>
	
		
</fieldset>
<form>