<h1 class="mainTitle">Book your tickets to Kholinar today!</h1>

<fieldset class="ticketForm">
<legend>Enter your ticket information here!</legend>
	<div class="ticketInput">
		<label>Departing from:</label>
			<input type="text" name="city_input" id="city_input" size="30" maxlength="30">
		</br>
		<label>Destination:**</label>
			<input list="destination" name="destination" id="destintation">
				<datalist id="destination">
					<option value="Kholinar">
				</datalist>
		</br>
		<label>Departure date:</label>
			<input type="datetime-local" name="departue" id="departure" value="2019-11-24T12:00" size="20">
		</br>
		<label>Return date:</label>
			<input type="datetime-local" name="return" id="return" value="2020-01-01T12:00" size="20">
		</br>
		<label>Number of travelers:</label>
			<input type="number" name="travelerNum"	id="travelerNum" value="1" min="1">
		</br>
		<div>**Due to the current Desolation occuring on the planet, we are only offerening tickets to Kholinar.</div>
		</br> </br>
		<input type="submit" value ="Submit" id="ticketSubmit">
	</div>
	
		
</fieldset>

<script>
debugger;
document.addEventListener('DOMContentLoaded',bindButtons);

function bindButtons(){	
	debugger;
	document.getElementById('ticketSubmit').addEventListener('click', function(event){getStuff();});
	}
	function getStuff(x){
	debugger;
	var urlstring = "http://flip3.engr.oregonstate.edu:3469/ticket_print?" + 
	"destination=" + document.getElementById('destination').key + "&"
	"departue=" + document.getElementById('departue').value + "&"
	"city_input=" + document.getElementById('city_input').value + "&"
	"return=" + document.getElementById('return').value + "&"
	"travelerNum=" + document.getElementById('travelerNum').value;
	window.location = ursltring;
	
	event.preventDefault();
	}
	/*
	function getStuff(x){
	//debugger;
	console.log(document.getElementById(x).value);
	var param = "";
	var ele = document.getElementById(x);
	if(ele.name == "zip_input") { param = "zip=" + ele.value;}
	else {param = "q=" + ele.value.replace(" ", "") + ",us";}
	console.log(param);
	
	var req = new XMLHttpRequest();
    req.open("GET", "http://flip3.engr.oregonstate.edu:3469/ticket_print" + param + "&units=imperial&appid=" + apiKey, false);
    req.send(null);
    console.log(JSON.parse(req.responseText));
	var response = JSON.parse(req.responseText);
	console.log(document.getElementById("test").innerText);
	console.log(response.main.temp);
	document.getElementById("cityResult").innerText = response.name;
	document.getElementById("tempResult").innerText = response.main.temp;
	
	event.preventDefault();
	}
	
	function postStuff(){
	//debugger;
    var req = new XMLHttpRequest();
    var payload = {anything:null};
    payload.anything = document.getElementById('ticketSubmit').value;
    req.open('POST', "http://flip3.engr.oregonstate.edu:3469/ticket_print", true);
    req.setRequestHeader('Content-Type', 'application/json');
    req.addEventListener('load',function(){
      if(req.status >= 200 && req.status < 400){
        var response = JSON.parse(req.responseText);
        document.getElementById('postResult').textContent = response.data;
        //document.getElementById('shortUrl').textContent = response.id;
      } else {
        console.log("Error in network request: " + req.statusText);
      }});
    req.send(JSON.stringify(payload));
    event.preventDefault();
	}
	*/
</script>