<h1 class="mainTitle">Book your tickets to Kholinar today!</h1>
<script src="html2pdf.bundle.min.js"></script>


<fieldset class="ticketForm">
<legend>Enter your ticket information here!</legend>
	<div class="ticketInput">
		<label>Departing from:</label>
			<input type="text" name="city_input" id="city_input" size="30" maxlength="30">
		</br>
		<label>Destination:**</label>
			<input list="destination" name="destination" id="destintation">
				<datalist id="destination">
					<option value="Kholinar">
				</datalist>
		</br>
		<label>Departure date:</label>
			<input type="datetime-local" name="departue" id="departure" value="2019-11-24T12:00" size="20">
		</br>
		<label>Return date:</label>
			<input type="datetime-local" name="return" id="return" value="2020-01-01T12:00" size="20">
		</br>
		<label>Number of travelers:</label>
			<input type="number" name="travelerNum"	id="travelerNum" value="1" min="1">
		</br>
		<div>**Due to the current Desolation occuring on the planet, we are only offerening tickets to Kholinar.</div>
		</br> </br>
		<input type="submit" value ="Submit" id="ticketSubmit">
	</div>
	
		
</fieldset>

<fieldset class="tickets">
	<legend>Departure Tickets</legend>
	<ul = class="departResult">
		<li><span>From: </span><span id="city_input"></span></li>
		<li><span>To: </span><span>Kholinar</span></li>
		<li><span>Departure: </span><span id="departure"></span></li>
		<li><span>Number of seats: </span><span id="travelerNum"></span></li>
		<li><img id="barcode" src="/images/barcode.jpg" width="50%" heigth="50%"/></li>
	</ul>
		<legend>Return Tickets</legend>
	<ul = class="returnResult">
		<li><span>From: </span><span>Kholinar</span></li>
		<li><span>To: </span><span id="city_input"></span></li>
		<li><span>Departure: </span><span id="departure"></span></li>
		<li><span>Number of seats: </span><span id="travelerNum"></span></li>
		<li><img id="barcode" src="/images/barcode.jpg" /></li>
	</ul>
</fieldset>

