<!doctype html>
<html>
<head>
	<title>suterr's forms</title>
	<link rel="stylesheet" href="/public/css/style.css" type="text/css">
</head>
<body>
	<div class ="navbar">
		<a href="flip3.engr.oregonstate.edu:3469">Home</a>
		<a href="flip3.engr.oregonstate.edu:3469/citypage">Visit Kholinar</a>
		<a href="flip3.engr.oregonstate.edu:3469/tickets">Buy Tickets</a>
		<a href="flip3.engr.oregonstate.edu:3469/Find_out_more">Find out more!</a>
	</div>

	{{{body}}}
</body>
</html>