h1{
	font-size: 175
}

#slideshow{
	width:800px;
	height:800px;
	position:relative;
}

#slideshow ul{
	width:800px;
	height:800px;
	list-style:none outside none;
	position:relative;
	overflow:hidden;
}

#slideshow li:first-child{
	display:list-item;
	position:absolute;
}
#slideshow li{
	position:absolute:
	display:none;
}
#slideshow .prevButton{
	height:100px;
	width:100px;
	position:absolute;
	background: url('/images/prevButton.png') no-repeat;
	top:50%;
	margin-top:-36px;
	cursor:pointer;
	z-index:2000;
	background-position:left top;
	left:10
}

#slideshow .nextButton{
	height:100px;
	width:100px;
	position:absolute;
	background:url('/images/nextButton.png') no-repeat;
	top:50%;
	margin-top:-36px;
	cursor:pointer;
	z-index:2000;
	background-position:right top;
	right:0
}

