.navbar a{
	text-align: center;
	color: white;
	background-color: NavajoWhite;
	padding: 15px;
	float: left;
	font-size: 20px;
	text-decoration: none;
	width: 22%;
}
.navbar a:hover{
	background-color: Cornsilk;
}

.navbar{
	overflow: hidden;
	font-family: Arial;
}

.mainTitle{
	margin: auto;
	text-align: center;
	
}

#slideshow{
	width:800px;
	height:800px;
	position:center;
	margin: auto;
}

#slideshow ul{
	width:800px;
	height:800px;
	list-style:none outside none;
	position:relative;
	overflow:hidden;
}

#slideshow li:first-child{
	display:list-item;
	position:absolute;
}
#slideshow li{
	position:absolute:
	display:none;
}
#slideshow .prevButton{
	height:175px;
	width:175px;
	position:absolute;
	background: url('/images/prevButton.png') no-repeat;
	top:50%;
	margin-top:-36px;
	cursor:pointer;
	z-index:2000;
	left:0
}

#slideshow .nextButton{
	height:175px;
	width:175px;
	position:absolute;
	background:url('/images/nextButton.png') no-repeat;
	top:50%;
	margin-top:-36px;
	cursor:pointer;
	z-index:2000;
	right:0
}

body{
	background:url('/image/paper.jpg') repeat;
	font-family: Arial;
}
