.navbar a{
	text-align: center;
	border-style:solid;
	background-color:pink;
	padding: 5px;
	float: left;
	font-size: 16px;
	width: 24%;
}
.navbar{
	overflow: hidden;
	font-family: Arial;
}


#slideshow{
	width:800px;
	height:800px;
	position:center;
	margin: auto;
}

#slideshow ul{
	width:800px;
	height:800px;
	list-style:none outside none;
	position:relative;
	overflow:hidden;
}

#slideshow li:first-child{
	display:list-item;
	position:absolute;
}
#slideshow li{
	position:absolute:
	display:none;
}
#slideshow .prevButton{
	height:175px;
	width:175px;
	position:absolute;
	background: url('/images/prevButton.png') no-repeat;
	top:50%;
	margin-top:-36px;
	cursor:pointer;
	z-index:2000;
	left:0
}

#slideshow .nextButton{
	height:175px;
	width:175px;
	position:absolute;
	background:url('/images/nextButton.png') no-repeat;
	top:50%;
	margin-top:-36px;
	cursor:pointer;
	z-index:2000;
	right:0
}

